.profile {
  background-color: $color-secondary;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;


  @media only screen and(max-width: $bp-medium) {
    grid-column: 1/-1;
    padding: 0rem;
  }
  @media only screen and(max-width: $bp-small) {
    grid-column: 1/-1;
    padding: 0rem;
  }
  &__pictures {
    &__img--1 {
      width: 100%;
      grid-row: 2/6;
      grid-column: 2/6;
      box-shadow: 0 2rem 5rem rgba($story_box_shadow, 0.2);
      @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / 7;
        grid-row: 1 / -1;
      }
    }
    &__img--2 {
      width: 115%;
      grid-row: 4/7;
      grid-column: 4/6;
      z-index: 200;

      box-shadow: 0 2rem 5rem rgba($story_box_shadow, 0.6);

      @media only screen and (max-width: $bp-medium) {
        grid-row: 5/7;
        grid-column: 5/7;
        height: 20vh;

      }
    }
  }
}
