<section class="section-nav">

    <mat-toolbar>
      <div  >
        <a style="cursor: pointer;" routerLink="/home" routerLinkActive="nav-activated">home</a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="20px" >
        <li *ngIf ="!userIsAuthenticated">
          <a routerLink="/register"  style="cursor: pointer;"  routerLinkActive="nav-activated">Register</a>
        </li>
        <li *ngIf ="!userIsAuthenticated" >
          <a routerLink="/login"  style="cursor: pointer;"  routerLinkActive="nav-activated">login</a>
        </li>
        <li *ngIf ="userIsAuthenticated" (click)= "onLogout()" >
          <a  style="cursor: pointer;"  routerLinkActive="nav-activated">Logout</a>
        </li>
      </ul>
    </div>
    </mat-toolbar>

</section>


