.login{
  justify-self: end;
   cursor: pointer;
   text-align: center;
  height: 6rem;
   list-style: none;
   border:1px solid wheat;
}


.login a {
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.5rem;
  font-family: font-display;
  letter-spacing: .3rem;
}

.login li{

}

ul{
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
ul li{
  display:flex;
  list-style: none;
  height: 5rem;
  align-items: center;
  justify-content: center;
  transition: all .2s;


}
ul li:hover{
  background-color:#c69963;

  cursor: pointer;
  outline: none;
}

ul li a {

  font-size: 2rem;
color:#fff;
}



