<div class="section-story">
  <div class="story-left__pictures">
    <img
      src="../../../assets/dog_lunettes_sm.jpg"
      alt="dog"
      class="story__pictures story__pictures__img--1"
    />
  </div>
  <div class="story-left__content">
    <h3 class="heading-3 sm-bm">dog consectetu</h3>
    <h2 class="heading-2 heading-2--dark mb-md">&ldquo;training&rdquo;</h2>
    <p class="story__text mb-lg">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime non
      nihil autem exercitationem eum. Impedit laborum, placeat laudantium
      deleniti necessitatibus vero quia ducimus, cum, earum aut nam vitae
      harum architecto.
    </p>
    <button class="btn-story btn btn-primary btn-lg">train your dog</button>
  </div>
</div>
