<footer class="footer">
  <div >
    <ul class="nav" >
      <li class="nav__item"><a href="#" class="nav__link">Suivez</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Facebook</a></li>
      <li class="nav__item"><a href="#" class="nav__link">twitter</a></li>
      <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
      <li class="nav__item"><a href="#" class="nav__link">about</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p >copy right</p>
  </div>

</footer>

