*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.header {
  background-color: #54483a;
  grid-column: col-start 5 / full-end;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr  2rem 5rem 2rem  1fr;
  grid-template-columns: minmx(min-content, max-content);
  grid-row-gap: 1.5rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1/-1; } }
  .header__title {
    grid-template-columns: 1fr;
    grid-row: 2/span 1;
    height: 3rem;
    justify-self: start;
    font-size: 2rem; }
  .header__presentation {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-row: 4/span 1;
    height: 2rem;
    font-size: 2rem; }
  .header__menu-sub {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-row: 6/span 1;
    margin-left: 5vw;
    height: 10rem;
    justify-content: center;
    align-items: center; }

.section-header {
  display: grid;
  grid-template-rows: 40vw;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] 1fr [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .section-header {
      grid-template-rows: 70vh;
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] 1fr [full-end]; } }
  @media only screen and (max-width: 50em) {
    .section-header {
      grid-template-rows: 60vh;
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] 1fr [full-end]; } }

.profile {
  background-color: #101d2c;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .profile {
      grid-column: 1/-1;
      padding: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .profile {
      grid-column: 1/-1;
      padding: 0rem; } }
  .profile__pictures__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(24, 85, 104, 0.2); }
    @media only screen and (max-width: 50em) {
      .profile__pictures__img--1 {
        grid-column: 1 / 7;
        grid-row: 1 / -1; } }
  .profile__pictures__img--2 {
    width: 115%;
    grid-row: 4/7;
    grid-column: 4/6;
    z-index: 200;
    box-shadow: 0 2rem 5rem rgba(24, 85, 104, 0.6); }
    @media only screen and (max-width: 50em) {
      .profile__pictures__img--2 {
        grid-row: 5/7;
        grid-column: 5/7;
        height: 20vh; } }

.features {
  grid-column: center-start / center-end;
  margin: 7vw 20vw;
  display: grid; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2; }
  .feature__text {
    font-size: 1.4rem; }

.section-features {
  background-color: #101d2c;
  display: grid;
  grid-template-rows: min-content; }

.story__pictures {
  grid-column: full-start/ col-end 6;
  background-color: #101d2c;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1/-1;
      padding: 6rem; } }
  .story__pictures__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(24, 85, 104, 0.2); }
    @media only screen and (max-width: 50em) {
      .story__pictures__img--1 {
        grid-column: 1 / 7;
        grid-row: 1 / -1; } }
  .story__pictures__img--2 {
    width: 115%;
    width: 100%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 200;
    box-shadow: 0 2rem 5rem rgba(24, 85, 104, 0.6); }
    @media only screen and (max-width: 50em) {
      .story__pictures__img--2 {
        grid-row: 1 / span -2;
        width: 100%; } }

.story__content {
  grid-column: col-start 7 / full-end;
  background-color: #101d2c;
  padding: 1rem 5vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-template-rows: repeat(2, 1fr);
      grid-column: 1 / -1;
      grid-row: 4 / 7; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.section-story {
  display: grid;
  grid-template-rows: 40vw;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] 1fr [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .section-story {
      grid-template-rows: 70vw;
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] 1fr [full-end]; } }
  @media only screen and (max-width: 50em) {
    .section-story {
      grid-template-rows: 70vw;
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] 1fr [full-end]; } }

.story-left__content {
  grid-column: full-start/ col-end 6;
  grid-row: 1 / 4;
  background-color: #f9f7f6;
  padding: 5vw 5vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 50em) {
    .story-left__content {
      padding: 2rem 5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-column: 1 / -1;
      grid-row: 4 / 7; } }

.story-left__pictures {
  grid-column: col-start 7 / full-end;
  background-color: #f9f7f6;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story-left__pictures {
      grid-column: 1/-1;
      grid-row: 1/5; } }
  .story-left__pictures__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 8/12;
    box-shadow: 0 2rem 5rem rgba(24, 85, 104, 0.2); }
    @media only screen and (max-width: 50em) {
      .story-left__pictures__img--1 {
        grid-column: 8 / 12;
        grid-row: 1 / -1; } }

.story-left__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.section-packages {
  grid-column: full-start / full-end;
  display: grid;
  background-color: #f9f7f6;
  padding: 10rem 5vw; }

.packages {
  grid-column: center-start / center-end;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 7rem; }

.package {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .package__img {
    width: 100%;
    height: 20rem;
    grid-row: 1/1;
    grid-column: 1/-1;
    z-index: 2; }
  .package__like {
    grid-row: 1/2;
    grid-column: 2/3;
    fill: #c69963;
    height: 3rem;
    width: 3rem;
    z-index: 3;
    justify-self: end;
    margin: 1rem; }
  .package__name {
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 80%;
    justify-self: center;
    align-self: end;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(50%);
    z-index: 4; }
  .package__dog-type, .package__training-type {
    margin-top: 2rem; }
  .package__level, .package__dog-type, .package__training-type, .package__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .package__level svg, .package__dog-type svg, .package__training-type svg, .package__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }

.btn-package {
  grid-column: 1/-1;
  height: 5rem !important; }

.footer {
  background-color: #020508;
  padding: 8rem; }

.nav {
  list-style: none;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .nav {
      display: block; } }
  .nav__link:link, .nav__link:visited {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 2rem;
    min-width: 20vw; }
    @media only screen and (max-width: 50em) {
      .nav__link:link, .nav__link:visited {
        font-size: 1.2rem; } }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  margin-top: 10rem;
  font-size: 1.4rem;
  color: #aaa;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.btn {
  border-radius: 0;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }

.btn-primary {
  background-color: #c69963;
  color: #fff;
  padding: 1.8rem 3rem; }

.btn-white {
  color: #fff; }

.btn-lg {
  width: 25rem;
  height: 5rem;
  align-items: center; }

.btn-md {
  width: 10rem;
  height: 4rem; }

.btn-sm {
  width: 8rem;
  height: 3rem; }

.primary-activated {
  background-color: #b28451; }

.section-contact {
  min-height: 90vh;
  margin-top: 10rem; }

.contact {
  margin: auto auto;
  width: 60vw; }
  @media only screen and (max-width: 50em) {
    .contact {
      width: 80vw; } }
  @media only screen and (max-width: 37.5em) {
    .contact {
      width: 90%; } }

.mat-box {
  width: 40vw;
  margin: auto auto; }
  @media only screen and (max-width: 50em) {
    .mat-box {
      width: 90%;
      margin: auto auto; } }
